{% extends "store/base.html" %}
{% load static %}

{% block title_block %}
{{ book.title }}
{% endblock title_block %}

{% block body_block %}
<br>
		<!-- Start Error Area -->
		<section class="page_error section-padding--lg bg--white">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="error__inner text-center">
							<div class="error__logo">
								<a href="#"><img src="{% static 'images/others/404.png' %}" alt="error images"></a>
							</div>
							<div class="error__content">
								<h2>error - not found</h2>
								<p>It looks like you are lost! Try searching here</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Error Area -->
	{% endblock body_block %}