<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title_block %}{% endblock title_block %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Cusom css -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">

	<!-- Modernizer js -->
	<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
	<style>
		
	</style>
</head>
<body>
<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="wn__header" class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<div class="logo">
							<a href="{% url 'index' %}">
								<img class="top" src="{% static 'vector/logo-black.svg' %}" alt="logo images">
								<img class="bottom" src="{% static 'vector/logo-white.svg' %}" alt="logo images">
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a href="{% url 'index' %}">Home</a></li>
								<li class="drop"><a href="#">Categories</a>
									<div class="megamenu mega03">
										<ul class="item item03">
											
											<li><a href="shop-grid.html">Shop Grid</a></li>
											
										</ul>										
									</div>
								</li>
								<li class="drop"><a href="{% url 'store:about_us' %}">About Us</a>
								</li>
								<li><a href="{% url 'store:contact_us' %}">Contact Us</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li class="shop_search"><a class="search__active" href="#"></a></li>
							<li class="wishlist"><a href="#"></a></li>							
							<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>My Account</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">	
														<span><a href="{% url 'dashboard:index' %}">Dashboard</a></span>
														
														<span><a href="{% url 'store:user_profile' %}">My Profile</a></span>
														<span><a href="#">My Wishlist</a></span>
														{% if request.user.is_authenticated %}
															<span><a href="{% url 'authenticate_app:user_logout'  %}">Logout</a></span>
														{% else %}
														<span><a href="{% url 'authenticate_app:user_login'  %}">Log In</a></span>
														<span><a href="{% url 'authenticate_app:register' %}">Create An Account</a></span>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="{% url 'index' %}">Home</a>									
								</li>
								<li><a href="#">Categories</a>
									<ul>
										<li><a href="#">About Page</a></li>	
									</ul>
								</li>
								<li><a href="{% url 'store:about_us' %}">About Us</a>
									
								</li>
								<li><a href="{% url 'store:contact_us' %}">Contact Us</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->	
			</div>		
		</header>
		<!-- //Header -->
		<!-- Start Search Popup -->
		<div class="brown--color box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
{% block body_block %}

{% endblock body_block %}
<!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a href="#">
										<img src="{% static 'vector/logo-black.svg' %}" alt="logo">
									</a>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered duskam alteration variations of passages</p>
								</div>
								
							</div>
						</div>
					</div>

				</div>
			</div>
			
		</footer>
		<!-- //Footer Area -->
		
</div>
	<!-- JS Files -->
	<script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/active.js' %}"></script>
	
</body>
</html>