{% extends "store/base.html" %}
{% load static %}

{% block title_block %}
{{ book.title }}
{% endblock title_block %}

{% block body_block %}


        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Shop Single</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Shop Single</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start main Content -->
        <div class="maincontent bg--white pt--80 pb--55">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-9 col-12">
        				<div class="wn__single__product">
        					<div class="row">
        						<div class="col-lg-4 col-12">
        							<div class="wn__fotorama__wrapper">
	        							<div class="fotorama wn__fotorama__action" data-nav="thumbs">
		        							  <a href="1.jpg"><img src="/media/{{ book.image }}" alt=""></a>
	        							</div>
        							</div>
        						</div>
        						<div class="col-lg-5 col-12">
        							<div class="product__info__main">
        								<h1>{{ book.title }}</h1>
        								<div class="product-info-stock-sku d-flex">
        									<!--<p>Availability:<span> In stock</span></p>-->
        									<p>ISBN:<span> {{book.isbn}}</span></p>
        									<p>Authors:<span> {{ book.author }}<br></span></p>
        								</div>
										<br>
        								<div class="product-info-stock-sku d-flex">
        									<p>Uploaded By: <span> {{ book.user.username }}</span></p>
											
        									<p>Uploaded At: <span> {{ book.upload_date }} </span></p>
        								</div>
										<br>
        								<div class="product-addto-links clearfix">
											<div class="col-lg-6">
												<a class="wishlist" href="#"></a>
											</div>
        								</div>      
										<br>  					
											{% if book.is_available is False %}
												<div class="col-lg-6">
													<div class="alert alert-danger text-center" role="alert">
														Out Of Stock
													</div>
												</div>
											
											{% endif %}			
        							</div>
        						</div>
								{% if book.is_available is False %}
								<div class="col-lg-3 col-12">
									<a type="button" class="btn btn-primary" disabled>Request</a>
								</div>
								{% else %}
								<div class="col-lg-3 col-12">
									<a href="url 'store:send_request' book" type="button" class="btn btn-primary" >Request</a>
								</div>
								
								{% endif %}
        					</div>
        				</div>
        				<div class="product__info__detailed">
							<div class="pro_details_nav nav justify-content-start" role="tablist">
	                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
	                            
	                        </div>
	                        <div class="tab__container">
	                        	<!-- Start Single Tab Content -->
	                        	<div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
									<div class="description__attribute">
										<p style="text-align:justify">{{ book.description }}</p>
									</div>
	                        	</div>
	                        	<!-- End Single Tab Content -->
	                        </div>
        				</div>
					{% comment %} 	<div class="wn__related__product pt--80 pb--50">
							<div class="section__title text-center">
								<h2 class="title__be--2">Related Products</h2>
							</div>
							<div class="row mt--60">
								<div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/1.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/2.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/2.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/4.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/3.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/6.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/4.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/8.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/9.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/2.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/9.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/8.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
								</div>
							</div>
						</div>
						<div class="wn__related__product">
							<div class="section__title text-center">
								<h2 class="title__be--2">upsell products</h2>
							</div>
							<div class="row mt--60">
								<div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/2.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/1.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/4.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/3.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/6.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/5.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/8.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/7.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/9.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/2.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/9.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/8.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="cart.html"></a></li>
															<li><a class="wishlist" href="wishlist.html"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
								</div>
							</div>
						</div>
        			</div>
        			<div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
        				<div class="shop__sidebar">
        					<aside class="wedget__categories poroduct--cat">
        						<h3 class="wedget__title">Product Categories</h3>
        						<ul>
        							<li><a href="#">Biography <span>(3)</span></a></li>
        							<li><a href="#">Business <span>(4)</span></a></li>
        							<li><a href="#">Cookbooks <span>(6)</span></a></li>
        							<li><a href="#">Health & Fitness <span>(7)</span></a></li>
        							<li><a href="#">History <span>(8)</span></a></li>
        							<li><a href="#">Mystery <span>(9)</span></a></li>
        							<li><a href="#">Inspiration <span>(13)</span></a></li>
        							<li><a href="#">Romance <span>(20)</span></a></li>
        							<li><a href="#">Fiction/Fantasy <span>(22)</span></a></li>
        							<li><a href="#">Self-Improvement <span>(13)</span></a></li>
        							<li><a href="#">Humor Books <span>(17)</span></a></li>
        							<li><a href="#">Harry Potter <span>(20)</span></a></li>
        							<li><a href="#">Land of Stories <span>(34)</span></a></li>
        							<li><a href="#">Kids' Music <span>(60)</span></a></li>
        							<li><a href="#">Toys & Games <span>(3)</span></a></li>
        							<li><a href="#">hoodies <span>(3)</span></a></li>
        						</ul>
        					</aside>
        					<aside class="wedget__categories pro--range">
        						<h3 class="wedget__title">Filter by price</h3>
        						<div class="content-shopby">
        						    <div class="price_filter s-filter clear">
        						        <form action="#" method="GET">
        						            <div id="slider-range"></div>
        						            <div class="slider__range--output">
        						                <div class="price__output--wrap">
        						                    <div class="price--output">
        						                        <span>Price :</span><input type="text" id="amount" readonly="">
        						                    </div>
        						                    <div class="price--filter">
        						                        <a href="#">Filter</a>
        						                    </div>
        						                </div>
        						            </div>
        						        </form>
        						    </div>
        						</div>
        					</aside>
        					<aside class="wedget__categories poroduct--compare">
        						<h3 class="wedget__title">Compare</h3>
        						<ul>
        							<li><a href="#">x</a><a href="#">Condimentum posuere</a></li>
        							<li><a href="#">x</a><a href="#">Condimentum posuere</a></li>
        							<li><a href="#">x</a><a href="#">Dignissim venenatis</a></li>
        						</ul>
        					</aside>
        					<aside class="wedget__categories poroduct--tag">
        						<h3 class="wedget__title">Product Tags</h3>
        						<ul>
        							<li><a href="#">Biography</a></li>
        							<li><a href="#">Business</a></li>
        							<li><a href="#">Cookbooks</a></li>
        							<li><a href="#">Health & Fitness</a></li>
        							<li><a href="#">History</a></li>
        							<li><a href="#">Mystery</a></li>
        							<li><a href="#">Inspiration</a></li>
        							<li><a href="#">Religion</a></li>
        							<li><a href="#">Fiction</a></li>
        							<li><a href="#">Fantasy</a></li>
        							<li><a href="#">Music</a></li>
        							<li><a href="#">Toys</a></li>
        							<li><a href="#">Hoodies</a></li>
        						</ul>
        					</aside>
        					<aside class="wedget__categories sidebar--banner">
								<img src="images/others/banner_left.jpg" alt="banner images">
								<div class="text">
									<h2>new products</h2>
									<h6>save up to <br> <strong>40%</strong>off</h6>
								</div>
        					</aside>
        				</div>
        			</div> {% endcomment %}
        		</div>
        	</div>
        </div>
        <!-- End main Content -->
		
		
		
	{% endblock body_block %}